body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body.fa {
	direction: rtl;
	text-align: right;
}
.container {
	width: 60%;
	height: auto;
	margin: auto;
}
@media screen and (max-width: 800px) {
	.container {
		width: 75%;
	}
}
@media screen and (max-width: 700px) {
	.container {
		width: 85%;
	}
}
@media screen and (max-width: 600px) {
	.container {
		width: 95%;
	}
}
.table {
	width: 100%;
	border-radius: .25rem;
}
.page-title {
	font-size: 47px;
}
.page-subtitle {
	position: relative;
	top: -20px;
	text-align: center;
	font-size: 16px;
	padding: 2px;
	display: inline-block;
	color: white;
	width: auto;
	background-color: #007bff;
	border-radius: 4px;
}
.table thead tr {
	background-color: #007bff;
	color: white;
	border-bottom: 4px;
}
.table thead tr th {
	padding: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	text-align: center;
}
.table td, .table th {
	padding: 10px;
	border: 1px solid rgba(0,0,0,.125);
}
hr {
	border: 0.5px solid rgba(128, 128, 128, 0.1);
}
footer {
	color: gray;
	direction: ltr;
}
.clear {
	clear: both;
}
blockquote {
	border-right: 7px solid gray;
	padding-right: 15px;
	margin-top: 48px;
}
img.image {
	max-width: 95%;
	text-align: center;
}
p.post-text {
	line-height: 32px;
}
